<nav>
    <div class="nav-left">
        <a href="index.html" class="title nav-link">dame.is</a>
        <a href="about.html" class="nav-link">about</a>
        <a href="ethos.html" class="nav-link">ethos</a>
        <!-- Add more links as needed -->
    </div>
    <div class="nav-right">
        <span id="bluesky-stats">
            <span style="font-weight: bold;"id="followers">-</span> followers
            <span style="font-weight: bold;"id="following">-</span> following
            <span style="font-weight: bold;"id="posts">-</span> posts
        </span>
        <span id="theme-toggle">🌙</span>
    </div>
</nav>
