<nav>
    <div class="nav-left">
        <a href="index.html" class="title nav-link">dame.is</a>
        <a href="about.html" class="nav-link">About</a>
        <a href="ethos.html" class="nav-link">Ethos</a>
        <!-- Add more links as needed -->
    </div>
    <div class="nav-right">
        <span id="bluesky-stats">
            Followers: <span id="followers">-</span> |
            Following: <span id="following">-</span> |
            Posts: <span id="posts">-</span>
        </span>
        <span id="theme-toggle">🌙</span>
    </div>
</nav>
