---
layout: base
pagination:
  data: collections.all
  size: 1
  alias: post
permalink: "writing/posts/{{ page.fileSlug }}/"
---

<div id="single-post-container">
    <div id="post-loading">Loading...</div>
</div>

<script>
    // The post ID will be the last segment of the URL
    const postId = window.location.pathname.split('/').filter(Boolean).pop();
    
    // Initialize the single post view when the DOM is loaded
    document.addEventListener('DOMContentLoaded', function() {
        loadSinglePost(postId);
    });
</script> 